@font-face {
    font-family: "Lazer 84";
    src: url("Lazer84.ttf");
}


/*CONTAINERS HERE*/
body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
}
.outerBox {
    width: 100%;
    height: 100%;
    margin: 0;
    
    display: flex;
}
.menuBar {
    background-color: rgba(0, 250, 50, 1.0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    z-index: 2;
}
.animationBox {
    width: 100%;
    background-image: url('space1.jpg');
    background-repeat: repeat-y;
    animation-name: spaceBackground;
    animation-duration: 1000s;
    animation-iteration-count: infinite;
}
span {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*STYLING ELEMENTS*/
a {
    font-size: 1.8em;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
}
a:hover {
    color: rgba(220, 0, 220, 1.0);
}
a:checked {
    color: rgba(220, 0, 220, 1.0);
}
.textBox {
    position: relative;
    top: 5%;
    left: 0%;
    right: 0%;
    color: rgba(250, 0, 250, 1.0);
    margin: auto;
    
    font-family: "Lazer 84";
    font-size: 2.0em;
    z-index: 1;
    transform: skewY(-5deg);
    
    animation-name: logo;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.ship {
    position: absolute;
    bottom: 5%;
    left: 70%;
    margin: auto;
    
    width: 15vh;
    height: 15vh;
    
    animation-name: spaceShip;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.shipImage {
    width: 15vh;
    height: 15vh;
    
    animation-name: shipFly;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.bee {
    position: absolute;
    top: 0;
    left: 70%;
    margin: auto;
    
    width: 12vh;
    height: 12vh;
    background-image: url('galagaBee.png');
    background-size: contain;
    
    animation-name: bee;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.kongInvader {
    position: absolute;
    bottom: 0%;
    left: 70%;
    margin: auto;
    
    width: 22vh;
    height: 22vh;
    
    animation-name: kongInvader;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.kongInvader img {
    position: absolute;
    margin: auto;
    
    width: 22vh;
    height: 22vh;
}
.kongInvader1 {
    animation-name: kongInvader1;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.kongInvader2 {
    animation-name: kongInvader2;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.kongInvader3 {
    animation-name: kongInvader3;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.barrel {
    position: absolute;
    bottom: 0%;
    left: 70%;
    margin: auto;
    
    width: 8.6vh;
    height: 6.7vh;
    background-image: url('barrel.png');
    background-size: cover;
    
    animation-name: barrel;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.pacman1 {
    position: absolute;
    bottom: 5%;
    left: 70%;
    margin: auto;
    
    width: 69vh;
    height: 12vh;
    
    animation-name: pacman1;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.pacman2 {
    position: absolute;
    bottom: 5%;
    left: 70%;
    margin: auto;
    
    width: 69vh;
    height: 12vh;
    
    animation-name: pacman2;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.pacman1 img{
    position: absolute;
    margin: auto;
    
    width: 69vh;
    height: 12vh;
}
.pacman2 img{
    position: absolute;
    margin: auto;
    
    width: 69vh;
    height: 12vh;
}
.chase2 {
    animation-name: chase2;
    animation-duration: 0.15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.chase4 {
    animation-name: chase2;
    animation-duration: 0.15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/*ANIMATIONS*/
@keyframes spaceBackground {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 200000px;
    }
}


@keyframes spaceShip {
    0% {
        transform: translate(0px, 0px);
    }
    2% {
        transform: translate(0px, 0px);
    }
    3% {
        transform: translate(-30vw, 0px);
    }
    5.0% {
        transform: translate(0px, 0px);
    }
    5.4% {
        transform: translate(-35vw, 0px);
    }
    36% {
        transform: translate(-35vw, 0px);
    }
    37% {
        transform: translate(-15vw, 0px);
    }
    45% {
        transform: translate(-15vw, 0px);
    }
    47% {
        transform: translate(-20vw, -30vh);
    }
    54% {
        transform: translate(-20vw, -30vh);
    }
    55% {
        transform: translate(-20vw, -30vh) rotate(90deg);
    }
    57% {
        transform: translate(-20vw, -30vh) rotate(90deg);
    }
    60% {
        transform: translate(-20vw, -55vh);
    }
    75% {
        transform: translate(-20vw, -55vh);
    }
    77% {
        transform: translate(-20vw, -55vh) rotate(-90deg);
    }
    78% {
        transform: translate(-20vw, -55vh) rotate(-90deg);
    }
    80% {
        transform: translate(-20vw, 0px);
    }
    97% {
        transform: translate(-20vw, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}


@keyframes shipFly {
    0% {
        transform: translate(0px, 5px);
    }
    50% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, 5px); 
    }
}


@keyframes bee {
    0% {
        transform: translate(0px, -80px);
    }
    4.2% {
        transform: translate(0px, 25vh);
    }
    4.6% {
        transform: translate(-10vh, 35vh) rotate(90deg);
    }
    5.0% {
        transform: translate(-20vh, 25vh) rotate(180deg);
    }
    5.4% {
        transform: translate(-10vh, 15vh) rotate(270deg);
    }
    5.8% {
        transform: translate(0px, 25vh) rotate(360deg);
    }
    10.0%, 100% {
        transform: translate(0px, 150vh);
    }
}


@keyframes kongInvader {
    0% {
        transform: translate(0px, 160px);
    }
    13% {
        transform: translate(0px, 160px);
    }
    20% {
        transform: translate(0px, -45vh);
    }
    30% {
        transform: translate(0px, -45vh);
    }
    32% {
        transform: translate(-30vw, -45vh);
    }
    40% {
        transform: translate(-30vw, -45vh);
    }
    50% {
        transform: translate(100vw, -45vh);
    }
    100% {
        transform: translate(100vw, -45vh);
    }
}
@keyframes kongInvader1 {
    0% {
        opacity: 1;
    }
    34.5% {
        opacity: 1;
    }
    34.7% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes kongInvader2 {
    0% {
        opacity: 0;
    }
    34.5% {
        opacity: 0;
    }
    34.7% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    40.2% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes kongInvader3 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    40.2% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes barrel {
    0% {
        transform: translate(0px, 130px);
    }
    0.5% {
        opacity: 0;
    }
    13% {
        transform: translate(0px, 130px);
    }
    20% {
        transform: translate(0px, -50vh);
    }
    30% {
        transform: translate(0px, -50vh);
    }
    32% {
        transform: translate(-30vw, -50vh);
    }
    34.5% {
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
    35.5% {
        transform: translate(-30vw, -50vh);
    }
    40% {
        transform: translate(-30vw, 130px);
    }
    100% {
        transform: translate(-30vw, 130px);
    }
}


@keyframes chase2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes pacman1 {
    0% {
        transform: translate(200px, -30vh);
    }
    58% {
        transform: translate(200px, -30vh);
    }
    72% {
        transform: translate(-200vw, -30vh);
    }
    100% {
        transform: translate(-200vw, -30vh);
    }
}
@keyframes pacman2 {
    0% {
        transform: translate(-200vw, -55vh);
    }
    77% {
        transform: translate(-200vw, -55vh);
    }
    93% {
        transform: translate(200px, -55vh);
    }
    100% {
        transform: translate(200px, -55vh);
    }
}